@model payroll_app.Models.EmployeeEntity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmployeeEntity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateofhire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateofhire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jobtitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jobtitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contactinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contactinfo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
